.routes-container {
    height: 93vh;
    max-height: 93vh;
    width: 100vw;
    color: white;
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(35, 94, 255);
    border-color: rgb(35, 94, 255);
    border-radius: 5px;
    color: white;
    padding: 3px;
}