.routes-container {
    height: 93vh;
    max-height: 93vh;
    width: 100vw;
    color: white;
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}