body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

.route-container {
    height: 93dvh;
    max-height: 93dvh;
    width: 100dvw;
    color: white;
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(14, 67, 214);
    border-color: rgb(14, 67, 214);
    border-radius: 5px;
    color: white;
    padding: 3px;
}

select {
    appearance: none;
    background-color: rgb(37, 37, 37);
    border: 2px solid rgb(37, 37, 37);
    color: white;
}

.input-default {
  border: none;
  background-color: transparent; /* Makes the background blend with its container */
  outline: none; /* Removes the blue/yellow glow on focus */
  font-family: inherit; /* Matches the page's font */
  padding: 0; /* Adjust padding as needed */
  /* Add any other styling to match plain text */
  color: rgb(255, 255, 255);
}

.line {
    height: 1px;
    width: 100%;
    background-color: white;
}

.line-light {
    opacity: 60%;
}