.navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    height: 7vh;
    width: 100vw;
    background-color: rgb(100, 100, 100);
}