.navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    height: 7vh;
    width: 100vw;
    background-color: rgb(43, 43, 43);
}

.link {
    color: rgb(146, 146, 146);
    font-size: 10px;
    text-decoration: none;
}