.set-entry-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-left: 0;
}

.set-entry-item {
    text-align: center;
    align-content: center;
    font-size: 14px;
}

.set-entry-item-header {
    color: rgb(216, 216, 216);
}

.set-entry-index {
    width: 30px;
    color: rgb(216, 216, 216);
}

.set-entry-weight {
    min-width: 80px;
    width: 25%;
}

.set-entry-reps {
    min-width: 70px;
    width: 20%;
}

.set-entry-time {
    min-width: 100px;
    width: 25%;
}

.set-entry-time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.set-entry-submit {
    width: 20px;
}

.set-entry-delete-button {
    width: 20px;
}