#wh-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    padding: 10px;
    align-items: center;
    gap: 8px;
}

.workout-history-header {
    font-size: x-large;
    /* align-self: flex-start;
    margin-left: 5%; */
}

#workout-history-date-filter-container {
    display: flex;
    flex-direction: row;
    /* align-self: flex-start;
    margin-left: 5%; */
}

.date-filter-tag {
    font-size: large;
}

.date-filter-input {
    background-color: rgb(51, 51, 51);
    border-color: rgb(70, 70, 70);
    border-radius: 10px;
    color: white;
}