.navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 93dvh; /* fixed bug with navbar not being aligned at bottom of page on different browsers when using bottom: 0 */
    height: 7dvh;
    width: 100dvw;
    background-color: rgb(43, 43, 43);
}

.link {
    color: rgb(146, 146, 146);
    font-size: 10px;
    text-decoration: none;
}