#not-found {
    height: 93dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30%;
    background-color: black;
}

p {
    font-size: 4dvh;
    margin: 4px;
}