.login-page-form {
    margin-top: 30vh;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    font-size: 16px;
}

.message {
    margin-top: 10px;
    font-size: 16px;
}