.loading {
    margin-top: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.workout-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.workout-header {
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.workout-page-button {
    height: 8vh;
    width: 80%;
    font-size: 3vh;
}

.workout-text {
    font-size: 16px;
    margin-top: 20px;
}

.templates {
    margin: 2px;
    padding: 8px;
    /* border: 2px solid rgb(37, 37, 37); */
    border-radius: 10px;
    min-width: 80%;
    max-width: 90vw;
    gap: 8px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(37, 37, 37);
    border: 2px solid rgb(37, 37, 37);
    border-radius: 10px;
    padding: 6px;
    gap: 5px;
    width: 100%;
}

.template:active {
    opacity: 70%;
}

.template-exercise {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 3px;
    gap: 3px;
}

.template-button {
    min-height: 30px;
    height: 5vh;
    font-size: 15px;
}

.template-exercise-text {
    font-size: 13px;
    color: rgb(161, 161, 161);
}

.input-default {
  border: none;
  background-color: transparent; /* Makes the background blend with its container */
  outline: none; /* Removes the blue/yellow glow on focus */
  font-family: inherit; /* Matches the page's font */
  padding: 0; /* Adjust padding as needed */
  /* Add any other styling to match plain text */
  color: rgb(255, 255, 255);
}

.line {
    height: 1px;
    width: 100%;
    background-color: white;
}